/* ==========================================================================
   IMPORTS & VARIABLES
   ========================================================================== */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* Variables */
:root {
    /* Layout */
    --header-height: 3rem;
    --section-sides: 3%;
    
    /* Colors */
    --corporate-color: #5163a5; /*#3A5199; rgb(81, 99, 165) Savoy Blue*/
    --corporate-color-dark: #0B1021; /*#1F1F21;*/
    --text-color-light: #D7D7DA; /*#C7C7CC; /*rgb(199, 199, 204)*/
    --text-color-dark: #65666D;
    --headline-light: #fff;
    --headline-dark: #0B1021;
    --accent-color: #CB7788;/*#A6F891;*/

    /* iOS Safe Areas */
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Webpage is stabil on the sides*/
    font-family: "Open Sans", serif;
    -webkit-overflow-scrolling: touch;
    font-style: normal;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    color: var(--text-color-dark);
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    min-height: 100%;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    height: -webkit-fill-available; /* F체r iOS */
    overflow-x: hidden;
}

.main-content,
.data-protection,
.firm-info {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding-bottom: calc(var(--safe-area-inset-bottom) + env(safe-area-inset-bottom));
    padding-top: calc(var(--safe-area-inset-top) + env(safe-area-inset-top));
}

.open{
    display: flex !important;
}

/* ==========================================================================
   LAYOUT & GRID
   ========================================================================== */
.container,
.footer-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: var(--header-height) var(--section-sides) 2.5rem var(--section-sides);
}

.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--top-bottom-bg);
}

.footer-container {
    padding: 1rem var(--section-sides) 1rem var(--section-sides);
}

.headline {
    text-align: center;
    margin-bottom: 2rem;
}

.headline-title-light,
.headline-title-dark {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem 0;    
    margin-bottom: 1rem;
    hyphens: auto; 
}

.headline-title-light { color: var(--headline-light); }
.headline-title-dark { color: var(--headline-dark); }

.headline-title-light:after,
.headline-title-dark:after {
    display: block;
    content: "";
    top: 1rem;
    position: relative;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.headline-title-light:after { border-bottom: 1px solid var(--headline-light); }
.headline-title-dark:after { border-bottom: 1px solid var(--text-color-light); }

/* ==========================================================================
   HEADER & NAVIGATION
   ========================================================================== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--corporate-color-dark);
    z-index: 2;
    padding-top: var(--safe-area-inset-top);
    transform: translateZ(0);
    will-change: transform;
}

.header-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 var(--section-sides);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Logo top left */
.header-logo {
    min-width: 10rem;
    align-items: center;
    position: absolute;
    z-index: 6;
    left: var(--section-sides);
}

.header-logo a {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color-light);
    transition: color 0.3s ease;
}

.header-logo a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
        mask-position: 150%;
    }
    
    to {
        -webkit-mask-position: -50%;
        mask-position: -50%;
    }
}

.header-logo img {
    height: 2rem;
    width: auto;
    margin-left: 0.5rem;
}

@media (max-width: 1024px) {
    #header {
      align-items: flex-start;
      position: fixed !important;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
}  

/* ==========================================================================
   NAVIGATION MENU
   ========================================================================== */
.topnav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.topnav-link {
    color: var(--text-color-light);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0 1rem 1rem;
    transition: color 0.3s ease;
}

.topnav-link:hover {
    color: #fff;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    /* F체ge Standard-Mask-Properties f체r bessere Browser-Kompatibilit채t hinzu */
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
        mask-position: 150%;
    }
    
    to {
        -webkit-mask-position: -50%;
        mask-position: -50%;
    }
}

.topnav-link-call {
    display: none;
    line-height: 0.8rem;
}

.topnav-link-call div:first-child {
    color: var(--corporate-color);
    font-weight: 700;
}

.topnav-link-call div:nth-child(2):hover {
    color: #fff;
}

@media (max-width: 1024px) {
    .topnav {
      display: none;
      flex-direction: column;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      overflow-y: auto;
      padding: 120px 40px 50px;
      background-color: var(--corporate-color-dark);
      text-align: center;
      animation: burgerAnimation 0.4s;
    }

    @keyframes burgerAnimation {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
  
    .topnav ul {
      flex-direction: column;
      row-gap: 2.5rem;
    }    
}  

@media (max-width: 428px) {
    .topnav ul {
        row-gap: 2rem;
    }    
}

/* ==========================================================================
   BURGER MENU
   ========================================================================== */
.burger{
    position: relative;
    z-index: 99;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
    /* margin-right: 20px; */
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: var(--text-color-light);
}

.burger::before,
.burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--text-color-light);
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Burger Animation */
.burger.active span { 
    transform: scale(0) 
}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (min-width: 1024px) {
    .burger {
        display: none;
    }

}

@media (max-width: 1024px) {  
    .burger {
        display: flex;
    }

    .topnav-link-call {
        display: block;
    }
} 
  
/* ==========================================================================
   SERVICE SECTION
   ========================================================================== */
#service {
    padding-bottom: 2.5rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    transition: 0.3s ease;
}

.service-item i {
    font-size: 2rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

.service-item i:hover {
    color: var(--corporate-color);
    transform: scale(1.6);
}

.service-item h1 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5rem;
}

.service-item p {
    font-size: 0.9rem;
    color: var(--text-color-dark);
    height: 180px;
    padding: 0.5rem;
    align-content: center;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px #fff;
}
  
.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr;
    }

    .service-item {
      width: 80%;
      margin: 0 auto;
    }
}

/* ==========================================================================
   PROJECT SECTION
   ========================================================================== */
#project {
    background-color: var(--corporate-color-dark);
    color: #fff;
    text-align: justify;
    width: 100%;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}  

.project-box {
    display: flex;
    text-align: left;
    padding: 1rem;
    background: var(--corporate-color-dark);
    color: var(--text-color-light);
    /* box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); */
}

.project-box i {
    position: absolute;
    font-size: 1.5rem;
    color: var(--text-color-light);
}

.project-box span {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
}

.project-box p {
    padding-left: 3rem;
    hyphens: auto; 
}

@media (max-width: 1024px) {    
    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 428px) {
    .project-box p {
        font-size: 0.9rem;
    }    
}

/* ==========================================================================
   TESTIMONIAL SECTION
   ========================================================================== */
#testimonial {
    position: relative;
    background-image: url("../img/testimonial-bg.jpg");
    background-size: cover;
    color: #fff;
}

#testimonial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--corporate-color);
    opacity: 0.7;
}

#testimonial > * {
    position: relative;
    z-index: 1;
}

.testimonial-numbers span{
    font-size: 2rem;
    font-weight: 700;
}

.testimonial-numbers p{
    font-size: 1rem;
    font-weight: 400;
}

.testimonial-google {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

/* ==========================================================================
   CONTACT SECTION
   ========================================================================== */
.logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.logo-circle div {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo-circle img {
    width: 100px;
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--corporate-color);
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ==========================================================================
   SOCIAL SECTION
   ========================================================================== */
#social {
    background: url("../img/slider1.jpg") repeat scroll 0 0 transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 6rem 0 6rem 0;
}

.social-button {
    list-style: none;
    text-align: center;
    align-items: center;
}

.social-button li {
    display: inline-block;
}

.social-button li a {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    height: 90px;
    width: 90px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media (max-width: 1024px) {
    #social {
        background-attachment: unset;
    }
}    

@media (max-width: 480px) {
.social-button li a {
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
  }
}

.social-button li a:hover {
    color: var(--corporate-color);
    border-color: var(--corporate-color);
}

.social-button li:nth-child(2) {
    margin: 0 1rem;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
#footer {
    background-color: var(--corporate-color-dark);
    color: var(--text-color-light);
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: var(--safe-area-inset-bottom);
}

#footer address {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer-headline {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
}

.footer-headline span {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-col {
    position: relative;
    text-align: left;
    font-size: 0.8rem;
    /* padding-right: 1rem; */
}

.footer-col:nth-child(-n+3) {
    border-right: 1px solid var(--text-color-dark);
}

.footer-col a {
    display: flex;
    /* justify-content: left; */
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-color-light);
}

.footer-col a:hover {
    color: #fff;
}

.footer-col i {
    color: var(--text-color-light);
}

.copyright {
    position: relative;
    display: block;
    text-align: left;
    padding: 1rem 1rem 1rem 0;
    font-size: 0.8rem;
    color: var(--text-color-dark);
}

@media (max-width: 1000px) {
    .footer-grid {
      gap: 1rem;
    }
}

@media (max-width: 900px) {
    .footer-grid {
      grid-template-columns: 1fr;
    }

    .footer-col {
        text-align: center;
        font-size: 0.8rem;
    }  

    .footer-headline span {
        display: block;
        text-align: center;
    }    
    
    .footer-col a {
        justify-content: center;
    }  
  
    .footer-col:nth-child(-n+3) {
        border-right: none;
    }

    .footer-col:nth-child(-n+3):after {
        border-bottom: 1px solid var(--text-color-dark);
        content: '';
        display: block;
        margin: auto;
        position: relative;
        top: 15px;
        width: 30%;
    }

    .copyright {
        text-align: center;
    }    
}

@media (max-width: 500px) {
    .footer-headline span {
        font-size: 1.2rem;
    }
}

/************************
 FORM
 ************************/
.contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.contact-form h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.contact-form p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.contact-form form {
    width: 600px;
    font-size: 1rem;
    text-align: center;

}

.contact-form .submit-btn,
.contact-form .phone-btn {
    padding: 12px 32px;
    background: var(--corporate-color);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin: 1rem 0;
    width: 100%;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.contact-form .phone-btn:hover,
.contact-form .submit-btn:hover {
    background: var(--accent-color);
    box-shadow: none;
    transform: scale(0.9);
}

.contact-form .phone-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid var(--corporate-color);
    outline: none;
    border-radius: 6px;
    font-size: 0.8rem;
    color: var(--corporate-color-dark);
    margin: 0.5rem 0;
}

.field.error .item {
    border-color: var(--accent-color);
}

.field .item::placeholder {
    color: var(--text-color-dark);
}

.field .error-txt {
    font-size: 14.5px;
    color: var(--accent-color);
    text-align: left;
    margin: -5px 0 5px 0;
    display: none;
}

.field.error .error-txt {
    display: block;
}


.textarea-field .item {
    resize: none;
    width: 100%;
}


@media (max-width: 640px) {
    .contact-form {
        font-size: 0.8rem;
    }

    .contact-form form {
        padding: 1rem;
    }

    .input-box {
        flex-direction: column;
    }
    
    .input-box .input-field {
        width: 100%;
    }
}

/*Checkbox*/
.consent-field {
    display: block;
    text-align: justify;
    hyphens: auto;
}

.consent-field p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.consent-field a {
    color: var(--corporate-color);
    text-decoration: none;
    font-weight: bold;
}

#result {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
}

/* ==========================================================================
   Data Protection & Firm Info
   ========================================================================== */
   .data-protection,
.firm-info { 
    padding: 1rem;
    text-align: justify;
    hyphens: auto;
    font-size: 0.9rem;
}

.data-protection p,
.firm-info p {
    /* font-size: 0.9rem; */
    margin-bottom: 10px;
}

.data-protection h1,
.firm-info h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.data-protection h2,
.firm-info h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1.5em 0 0.8em;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.3em;
}

.data-protection h3,
.firm-info h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.data-protection ul,
.firm-info ul {
    margin-bottom: 1em;
    padding-left: 2em;
}

.data-protection li,
.firm-info li {
    margin-bottom: 5px;
}   

.data-protection .headline-title-dark:after,
.firm-info .headline-title-dark:after {
    display: none;
}


@media (max-width: 640px) {
    .data-protection,
    .firm-info {
        font-size: 0.8rem;
    }
}